.css-feature {
	display: inline-block;
	margin: 3%;
	width: 20%;
	height: 20%;
}

#multiple-borders {
	background: yellowgreen;
	box-shadow: 0 0 0 .5em #655,
	0 0 0 .75em deeppink,
	0 .1em .25em .75em rgba(0,0,0,.6);
}

#inner-rounding {
	outline: .6em solid #655;
	box-shadow: 0 0 0 .4em #655;

	border-radius: .8em;
	padding: 1em;
	margin: 1em;
	background: tan;
}

#horizontal-stripes {
	background: linear-gradient(#fb3 50%, #58a 0);
	background-size: 100% 30px;
}

#polka-dot {
	background: #655;
	background-image: radial-gradient(tan 20%, transparent 0),
	radial-gradient(tan 20%, transparent 0);
	background-size: 30px 30px;
	background-position: 0 0, 15px 15px;
}

#pie {
	display: inline-block;
	position: relative;
	width: 10%;
}

#pie div {
	position: absolute;
	width: 100%;
	padding-top: 100%;
	border-radius: 50%;
	background: yellowgreen;
	background-image: linear-gradient(to right, transparent 50%, #655 0);
}

#pie div::before {
	content: '';
	position: absolute;
	top: 0; left: 50%;
	width: 50%; height: 100%;
	border-radius: 0 100% 100% 0 / 50%;
	background-color: inherit;
	transform-origin: left;
	animation: spin 50s linear infinite, bg 100s step-end infinite;
	animation-play-state: paused;
	animation-delay: -20s;
}

#bubble {
	position: relative;
	box-sizing: border-box;
	background: #fb3;
	-webkit-filter: drop-shadow(.1em .1em .1em rgba(0,0,0,.5));
	filter: drop-shadow(.1em .1em .1em rgba(0,0,0,.5));
	border-radius: .3em;
}

#bubble::before {
	content: '';
	position: absolute;
	top: 1em;
	right: -.7em;
	width: 0;
	height: 0;
	border: 1em solid transparent;
	border-left-color: #fb3;
	border-right-width: 0;
}

@keyframes spin {
	to { transform: rotate(.5turn); }
}
@keyframes bg {
	50% { background: #655; }
}
